# ignore folder with precomputed data to not upload similar calculations:
**/Only_ForGit_To_TestRun/Alpha_Context/task*
**/Only_ForGit_To_TestRun/Alpha_Context/Stats_Results/*
**/Only_ForGit_To_TestRun/LPP_Stroop/task*
**/Only_ForGit_To_TestRun/Logs/*
**/Step_Functions/Quantification_Flanker_ERN/*

# ignore the following file types
.DS_Store

